.loading_background {
  background-color: rgb(0, 0, 0);
  height: 100%;
}
.loading {
  position: relative;
  height: 50%;
  width: 100%;
}

.background {
  padding-top: 40px;
  background-image: url("../../assets/FormBackground.gif");
  background-size: cover;
}

.container {
  background-color: rgba(17, 17, 17, 0.974);
  box-shadow: inset 0px 0px 100px 5px rgba(50, 0, 100, 0.248);
  color: whitesmoke;
  height: 160rem;
}

.filters {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
  padding-top: 30px;
}
.reload {
  padding-top: 7px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 40px;
  background: #202020;
  border: none;
  border-radius: 50px;
  color: azure;
  position: relative;
  top: 10px;
  transition: 1s;
}
.reload :hover {
  transform: scale(0.9, 0.9);
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 30px;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}
