.pagination {
  padding-top: 30px;
  gap: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.number {
  color: #000000;
  font-size: 25px;
  font-variant-numeric: tabular-nums;
  margin-bottom: 10px;
  float: left;
  padding: 0.3rem 5px;
  cursor: pointer;
}
.number :hover {
  color: black;
  box-shadow: inset 0px 0px 150px 5px rgba(255, 255, 255, 0.563);
}

.button_page {
  font-size: 35px;
  background: #1a1a1a;
  border: none;
  border-radius: 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: azure;
}
.button_page :hover {
  color: black;
  box-shadow: inset 0px 0px 150px 5px rgba(255, 255, 255, 0.563);
}
