.background {
  height: 56.8rem;
  position: relative;
  padding-top: 30px;
  background-color: rgba(17, 17, 17, 0.974);
  box-shadow: inset 0px 0px 500px 50px rgba(75, 0, 150, 0.439);
}

.container {
  margin-top: 180px;
  margin-left: 400px;
  padding: 25px;
  width: 1000px;
  height: 500px;
  border-radius: 20px;
  box-shadow: 10px 10px 30px rgba(86, 0, 119, 0.5);
  background-color: #202020;
  color: azure;
  text-transform: uppercase;
  -webkit-user-select: none;
  user-select: none;
}

.href_henry {
  color: rgb(85, 0, 255);
  text-transform: uppercase;
}

.href_henry:hover {
  color: rgb(11, 0, 228);
}

.href_games {
  color: rgb(85, 0, 255);
  text-transform: uppercase;
}

.href_games:hover {
  color: rgb(11, 0, 228);
}

.tech_title {
  margin-top: 20px;
  color: black;
  text-transform: uppercase;
}

.tech_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  flex-direction: row;
  gap: 20px;
}

.javascript {
  margin: 15px;
}

.img_javascript {
  width: 70px;
  height: 70px;
  margin-left: 16px;
}

.text_javascript {
  font-size: 20px;
  text-align: center;
}

.html {
  margin: 15px;
}

.img_html {
  width: 70px;
  height: 70px;
}

.text_html {
  font-size: 20px;
  text-align: center;
}

.css {
  margin: 15px;
}

.img_css {
  width: 70px;
  height: 70px;
}

.text_css {
  font-size: 20px;
  text-align: center;
}

.react {
  margin: 15px;
}

.img_react {
  width: 70px;
  height: 70px;
}

.text_react {
  font-size: 20px;
  text-align: center;
}

.redux {
  margin: 15px;
}

.img_redux {
  width: 70px;
  height: 70px;
}

.text_redux {
  font-size: 20px;
  text-align: center;
}

.express {
  margin: 15px;
}

.img_express {
  width: 70px;
  height: 70px;
  margin-left: 5px;
}

.text_express {
  font-size: 20px;
  text-align: center;
}

.PostgreSQL {
  margin: 15px;
}

.img_PostgreSQL {
  width: 70px;
  height: 70px;
  margin-left: 20px;
}

.text_PostgreSQL {
  font-size: 20px;
  text-align: center;
}
