:root{
    --main-color: #282148;
    --dark-color: #1a1a1c;
    --light-color: rgb(137, 55, 160);
    --text-color: rgb(255, 245, 245);
    --detail-color: rgb(108, 0, 186);
}

.container{
    display: grid;
    grid-template-columns: 15% 60% 25%;
    margin: auto;
    width: 100%;
}

.header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: var(--dark-color);
    z-index: 100;
}

.navbar{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    row-gap: 1rem;
    text-align: center;
    color: var(--text-color);
}
.navbar :link{
    width: 16rem;
    text-decoration: none;
    color: var(--text-color);
    font-size: 2rem;
    font-weight: 600;
    transition: 0.2s;
}
.navbar :visited{
    text-decoration: none;
    color: var(--text-color);
}
.navbar :hover{
    border-bottom: 10px solid rgba(137, 55, 160, 0.344);
    font-size: 1.8rem;
    color: var(--text-color);
}
.navbar :active{
    text-decoration: none;
}

.navbar2{
    display: flex;
    text-align: center;
    color: var(--text-color);
}
.navbar2 :link{
    width: 16rem;
    text-decoration: none;
    color: var(--text-color);
    font-size: 2rem;
    font-weight: 600;
    transition: 0.2s;
}
.navbar2 :visited{
    text-decoration: none;
    color: var(--text-color);
}
.navbar2 :hover{
    border-bottom: 10px solid rgba(137, 55, 160, 0.344);
    font-size: 1.8rem;
    color: var(--text-color);
}
.navbar2 :active{
    text-decoration: none;
}

.logo{
    position:relative;
    justify-content: flex-start;
    text-decoration: none;
    font-size: 2.4rem;
}

.searchbar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 0;
    margin: 0 auto 0 0;
}